# IDE files ################################################################################
**/.idea/
**/.vs/
**/.vscode/


# Distribution #############################################################################
**/build/
**/dist/
**/src/compiled/**/*


# Node.js & NPM ###########################################################################
**/node_modules/
**/npm-debug.log
**/yarn-error.log


# Folders #################################################################################
**/.temp/
**/temp/
**/.data/
**/data


# Apify ###################################################################################
**/apify_storage
